.main {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    height: 88%;
    align-items: center;
  
}

.circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
  }

  .text {
    font-size: 15px;
  }

  
